---
import { Image } from "astro:assets";
import type { Achievements } from "./achievements.schema";

interface Props {
  data: Achievements;
}

const { data } = Astro.props;
const { heading, achievements } = data;
---

<section id="achievements">
  <h2 class="header-2">{heading}</h2>
  <div class="achievements">
    {
      achievements.map(({ title, description, logo, url }) => {
        return (
          <div class="achievement">
            <div class="company-icon-container">
              <a href={url} target="_blank" rel="noreferrer">
                <Image src={logo} alt={`${title} logo`} class="company-icon" />
              </a>
            </div>
            <div class="achievement__description">
              <div class="achievement__title">{title}</div>
              <div class="achievement__details">{description}</div>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style lang="scss">
  .achievement__description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .achievement__title {
    font-size: 1.2rem;
  }
</style>
